*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
    height: 400px;
    background-image:url(img/mv.jpg);
    background-size: cover;
    background-position: bottom;
}

.heading{
    padding: 20px;
}

main{
    width: 840px;
    
}

.blog{
    margin: 50px 0;
    text-align: left;
   
}

